{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header class="header">
    <nav class="nav">
        <div class="nav-header">
            <a href="{{ path('app_categorie') }}"><i class="fa-solid fa-arrow-left-long"></i> Retour</a>
        </div>
    </nav>
</header>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h3 class="h3 mb-3 font-weight-normal">Connectez-vous </h3>
    <input type="email" value="{{ last_username }}" placeholder="Entre votre email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <input type="password" name="password" id="inputPassword" placeholder="Entre votre mot de passe" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <p class="para">Vous n'avez pas de comptes? <a href="{{ path('app_register') }}">créer un comptes</a></p>

    <button class="submit" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
