{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<header class="header">
    <nav class="nav">
        <div class="nav-header">
          <h1><a href="{{ path('app_categorie') }}">The developer</a></h1>
        </div>
          
        <div class="nav-link">
            <ul>
                <li><a href="{{ path('app_categorie') }}">Accueil</a></li>
                <li><a href="{{ path('app_article') }}">Articles</a></li>
                <li><a href="">Link 3</a></li>
                {% if app.user %}
                    <div class="btn-state-logout">
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="btn btn-state">
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


<div class="main">
    <div class="main-header">
        <div class="main-title">
            <h3>Listes des catégories</h3>
        </div>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        <div class="auto">
            <div class="btn btn-success">
                <i class="fa-solid fa-plus"></i>
                <a href="{{ path('create_categorie') }}">Créer une Catégorie</a>
            </div>

            <div class="btn btn-article">
                <i class="fa-solid fa-plus"></i>
                <a href="{{ path('create_article') }}">Créer un Article</a>
            </div>
            
            <div class="btn btn-admin">
                <i class="fa-solid fa-user-secret"></i>
                <a href="{{ path('app_administration') }}"> Administration</a>
            </div>
        </div>
        {# {% endif %} #}

    </div>

    <div class="matieres">
        {% if categories is not empty %}
            {% for categorie in categories %}
            <div class="card">
                <img style="width:100px" src="{{ asset('https://images.pexels.com/photos/2333332/pexels-photo-2333332.jpeg?auto=compress&cs=tinysrgb&w=260&h=450&dpr=2"') }}"></img>
                <h2>{{ categorie.titre }}</h2>
                <a href="{{ path('detail_categorie', {id: categorie.id}) }}">
                    <button class="btn">voir la catégorie</button>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="empty">
                <h3>Vous n'avez aucune catégorie</h3>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
