{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<header class="header">
    <nav class="nav">
        <div class="nav-header">
          <h1><a href="{{ path('app_categorie') }}">The developer</a></h1>
        </div>
          
        <div class="nav-link">
            <ul>
                <li><a href="{{ path('app_categorie') }}">Accueil</a></li>
                <li><a href="{{ path('app_article') }}">Articles</a></li>
                <li><a href="">Link 3</a></li>
                {% if app.user %}
                    <div class="btn-state-logout">
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="btn btn-state">
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="main">
    <div class="main-header">
        <div class="main-title">
            <h3>{{ article.titre }}</h3>
        </div>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        <div class="auto">
            <div class="btn btn-admin">
                <a href="{{ path('detail_article', {id: article.id}) }}">Modifier l'article</a>
            </div>

            <div class="btn btn-danger">
                <a href="{{ path('delete_article', {id: article.id}) }}" class="btn-link">Supprimer cette article</a>
            </div>
        </div>
        {# {% endif %} #}
    </div>

    <div class="articles">
        <p>{{ article.contenu }}</p>

        <span>
            <span>Publié par : <small>{{ auteur.email }}</span>
        </span>
    </div>

    <div class="commentaires">
        <p>{{ article.contenu }}</p>

        <div>
            <span>Publié le par : <small>{{ auteur.email }}</small></span>
        </div>
    </div>

    {{ dump(auteur.email) }}
</div>
{% endblock %}